*.class
*.iml
*.ipr
*.iws
*.lock_message
*.pyc
*.swp
.DS_Store
.coverage*
.idea/
.cache/
.pants.d
.pants.run
.pants.workdir.file_lock
.pants.stats
.pantsd.startup
.pids
.project
.settings
.classpath
.factorypath
.python
.pydevproject
.vscode/
build/
out/
dist/